@model OrdersFrontEnd.Models.Order

@{
	var allItems = ViewBag.allItemsForOrder;
}

<input type="hidden" asp-for="OrderId" />
<div class="border p-3 mt-4" style="max-width: 500px; margin: 0 auto;">
	<div class="row pb-2">
		<h2 class="text-primary text-center">Order Details</h2>
		<hr />
	</div>
	<div class="mb-2 row p-1" style="margin-bottom: 10px;">
		<label asp-for="OrderId" class="p-0"></label>
		<input asp-for="OrderId" class="form-control" disabled />
		<span asp-validation-for="OrderId" class="text-danger"></span>
	</div>
	<div class="mb-2 row p-1" style="margin-bottom: 10px;">
		<label asp-for="CustomerId" class="p-0"></label>
		<input asp-for="CustomerId" class="form-control" disabled />
		<span asp-validation-for="CustomerId" class="text-danger"></span>
	</div>
	<div class="mb-2 row p-1" style="margin-bottom: 10px;">
		<label asp-for="OrderDate" class="p-0"></label>
		<input asp-for="OrderDate" class="form-control" disabled />
		<span asp-validation-for="OrderDate" class="text-danger"></span>
	</div>
	<div class="mb-2 row p-1" style="margin-bottom: 10px;">
		<label asp-for="TotalAmount" class="p-0"></label>
		<input asp-for="TotalAmount" class="form-control" disabled />
		<span asp-validation-for="TotalAmount" class="text-danger"></span>
	</div>
	<div class="mb-2 row p-1" style="margin-bottom: 10px;">
		<label asp-for="Status" class="p-0"></label>
		<input asp-for="Status" class="form-control" disabled />
		<span asp-validation-for="Status" class="text-danger"></span>
	</div>

	<div class="row">
		<div class="col-6 col-md-3">
			<a asp-controller="Order" asp-action="UpdateOrder" asp-route-id="@Model.OrderId" class="btn btn-primary form-control">
				Edit
			</a>


		</div>
		<div class="col-6 col-md-3">
			<a asp-controller="Order" asp-action="Index" class="btn btn-outline-secondary form-control">
				Back
			</a>
		</div>
	</div>
</div>
<br />
<br />
<h1>Items in Order</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Item Id
			</th>
			<th>
				Order Id
			</th>
			<th>
				Product Id
			</th>
			<th>
				Quantity
			</th>
			<th>
				Unit Price
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in allItems)
		{
			<tr>
				<td>@item.OrderItemId</td>
				<td>@item.OrderId</td>
				<td>@item.ProductId</td>
				<td>@item.Quantity</td>
				<td>@item.UnitPrice</td>
			</tr>
		}
	</tbody>
</table>