@model IEnumerable<ThreeLayerUI.Models.PatientViewModel>


@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<div class="row pt-4">
		<div class="col-6 pb-3">
			<h2 class="text-primary">Patients</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Patient" asp-action="AddPatient" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Patient</a>
		</div>
	</div>


	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.FirstName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.LastName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BirthDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Gender)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ContactNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Address)
				</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.FirstName</td>
					<td>@item.LastName</td>
					<td>@item.BirthDate</td>
					<td>@item.Gender</td>
					<td>@item.ContactNumber</td>
					<td>@item.Address</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-controller="Patient" asp-action="UpdatePatient" asp-route-id="@item.PatientId" class="btn btn-primary mx-2">
								<i class="bi bi-pencil-square"></i> Edit
							</a>

							<a asp-controller="Patient" asp-action="PatientDetails" asp-route-id="@item.PatientId" class="btn btn-success mx-2">
								<i class="bi bi-trash-fill"></i> Details
							</a>

							<a asp-controller="Patient" asp-action="DeletePatient" asp-route-id="@item.PatientId" class="btn btn-danger mx-2" onclick="return confirm('Are you sure you want to delete this patient?');">
								<i class="bi bi-trash-fill"></i> Delete
							</a>

						</div>
					</td>
				</tr>

			}
		</tbody>
	</table>
</div>
